html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* My Css */
body{
	font-family: 'Nunito', 'sans-serif';
}
.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFF; 
	box-shadow: 0px 3px 12px #1E36480A; 
	border-radius: 8px;
	width: 100%; 
	padding: 5rem 2.5rem;
}

.form-container-mobile{
	padding: 2rem 2.3rem;
}

.intro-logo{
	width: 224px;
	height: 73px;
	margin-bottom: 3.5rem;
}
input{
	font-size: 16px;
}
form input{
	background-color: #F4F4F4;
	border-radius: 8px;
	padding: 1rem 0.7rem;
	border: 1px solid #fff;
	margin-bottom: 1rem;
	margin-top: 0.3rem;
	
}

form input[type=password]{
	font-size: 22px;
	padding: 0.65rem 0.7rem;
	margin-bottom: 5px;
}
form input:focus{
	border: 1px solid #4B9CE2;
	outline: none;
	background-color: #F0F8FF;
	color: #3E3E3E;
}

.form-error{
	border: 1px solid #F77474;
	background: #FFF2F2;
	color: #F77474;
}

.auth-action-span{
	display: inline;
	color: #4B9CE2;
	font-weight: 700;
}

.auth-action-span:hover{
	cursor: pointer;
}

/* Main page */

.main-header{
	width: 100%;
	height: 430px; 
	border-radius: 8px;
}

.main-header-mobile{
	border-radius: 8px;
	width: 100%;
	height: 100px;
}

.home-hr{
	border: 1px solid #E0E0E0;
	position: absolute;
	bottom: -8px;
	width: 100%;
}

.active-nav{
	color: #4B9CE2 !important;
	border-bottom: 2px solid #4B9CE2;
	padding-bottom: 10px;
	z-index: 3;
}

.infinite-scroll{
	display: flex;
	flex-wrap: wrap; 
	gap: 1.8rem; 
	margin-top: 2rem;
	padding-bottom: 7rem;
	width: 103.5%;
}

.infinite-scroll-mobile{
	gap: 0.6rem
}

/* Account Page */

.offer-wrapper{
	position: relative;
}

.offer-wrapper::after{
	content: "TL";
	color: #99A0A7;
	position: absolute;
	right: 10px;
	top: 15px;
}
.offer-input{
	border-radius: 8px;
	background: #F4F4F4;
	border: none;
	color: #99A0A7;
	font-family: 'Nunito', 'sans-serif';
	height: 45px;
	outline: none;
	padding-left: 1rem;
	width: 96%;
}


/* Add Product */

textarea{
	background-color: #F4F4F4;
	border-radius: 8px;
	border: 1px solid #fff;
	font-size: 16px;
	font-family: 'Nunito', 'sans-serif';
	margin-bottom: 1rem;
	margin-top: 0.3rem;
	padding: 1rem 0.7rem;
	resize: none;
}

form textarea:focus{
	border: 1px solid #4B9CE2;
	outline: none;
	background-color: #F0F8FF;
	color: #3E3E3E;
}

.select-wrapper{
	background-color: #F4F4F4;
	border-radius: 8px;
	color: #99A0A7;
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
	padding: 0.7rem 1rem;
	padding-left: 0.8rem;
	padding-right: 1.6rem;
}

.select-wrapper:hover{
	cursor: pointer;
}

.active-select-wrapper{
	background-color: #fff;
	box-shadow: 0px 0px 12px #1E36482E;
}

.options-wrapper{
	height: 228px;
	background-color: #fff;
	box-shadow: 0px 6px 6px #1E36482E;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	position: absolute;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	overflow: scroll;
	overflow-x: hidden;
	width: 100%;
	z-index: 3;
	top: 55px;
	/* top: 22px; */
}

.option-value{
	/* width: 120%; */
	padding-left: 0.7rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	width: 108%;
	z-index: 5;
	border-radius: 10px;
}

.option-value:hover{
	background: #f2f2f2;
	cursor: pointer;
}

.active-option-value{
	color: #4B9CE2;
}

.options-wrapper::-webkit-scrollbar {
	width: 30px;
	outline: none;
	display: block;
}

.options-wrapper::-webkit-scrollbar-track {
	height: 200px;
	margin-top: 1.3rem;
	margin-bottom: 2rem;
	border-radius: 15px;
	background-color: #F2F2F2;
	padding: 5rem 0;
	border-right: 16px solid #fff;
	border-left: 10px solid #fff;
	border-bottom: 8px solid #fff;
	border-bottom-right-radius: 20px;
}

.options-wrapper::-webkit-scrollbar-thumb {
	background: #B1B1B1;
	height: 3px;
  background-clip: padding-box;
	border-left: 10px #fff solid;
  border-right: 16px #fff solid;
}

.price-wrapper{
	position: relative;
	height: 65px;
}

.price-wrapper::after{
	content: "TL";
	color: #99A0A7;
	position: absolute;
	right: 10px;
	top: 40px;
}

.price-input{
	border-radius: 8px;
	background: #F4F4F4;
	border: none;
	color: #99A0A7;
	font-family: 'Nunito', 'sans-serif';
	outline: none;
	padding-left: 1rem;
	width: 100%;
	box-sizing: border-box;
}


/* Dropzone */

.dropzone{
	margin-top: 2rem;
	border: 1px dashed #B1B1B1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem 0;
	width: 100%;
}

.dropzone-button{
	background: #F4F4F4;
	border: none;
	border-radius: 15px;
	color: #B1B1B1;
	font-size: 16px;
	margin: 0.4rem 0;
	padding: 0.5rem 1rem;
}

.dropzone-button:hover{
	cursor: pointer;
}

.dropzone-image{
	height: 113px;
	width: 113px;
	border-radius: 8px;
	margin-top: 1.2rem;
}

